body {
    background-color: #1a1713;
    color: #fff;
  }

  header {
    text-align: center;
    margin-bottom: 30px;
  }

  header img {
    height: 100px;
    margin-bottom: 20px;
  }

  form {
    max-width: 500px;
    margin: auto;
  }

  .form-label {
    color: #fff;
  }